*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.dark{
    background-color: #1c1b1c;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.brand{
   font-size:2.5em;
   float: left;
   
  
}
.brand img{
margin: 0px 10px 10px 20px;}
.navbar{
    /*background-color: rgba(188, 149, 207, 1);
    */
    
    background-image: url('../images/5442673.jpg');
min-height: 100%;
}
#ham{
    display: inline-block;
    cursor:pointer;
  }
  .bar1,.bar2,.bar3{
    width:35px;
    height: 5px;
    background-color: white;
    margin:6px 5px;
    transition:0.4s;
  }
  .change .bar1{
    transform:translate(0px,11px) rotate(-45deg);
  }
  .change .bar2{
    opacity:0;
  }
  .change .bar3{
    transform: translate(0px,-11px) rotate(45deg);
  }
  
.option{
    display: flex;
    position: relative;
    font-family: exo;
    margin-right: 40px;
    font-weight: bold;
}

.option a, .option li{
    
    text-decoration: none;
    list-style: none;
    color: white;
   
}

.menu{
    position: absolute;
    margin-top: 4px;
    background-color: rgba(85, 82, 87,0.6);
    width: 150px;
    border-radius: 4px;
    display:none;
}
.menu li{
    margin: 10px;
    text-align:left;
    margin-left: 25px;
}

.el{
    font-size: 18px;
    margin: 10px 30px 20px 20px;
}
.nav-link li :hover {
    visibility: visible;
    display: contents;
   

    
}
.menu div{
    margin-top: 24px;
}
.nav-link:hover ul ,.nav-link:active{
    display: block;

}
.menu img{
    height: 22px;
}

#ham{
    visibility: hidden;
    text-decoration: none;
    color: white;
}

.hero{
    background-image: url('../images/side\ view\ copta.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
   

}
.text{
    width: 50%;
    position: absolute;
    margin: 10vw 0vw 0vw 10vw;
}
.hero span{
    color: white;
    font-size: 1.8vw;
}

.hero a{
    font-size: 1.5vw;
    padding: 4px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    background-color:rgba(116, 111, 111,0.1);
    text-decoration: none;
    margin-left: 11vw;
}
.hero a:hover{
    background-color:#a75dcc;
}
.content{
    margin:4vw 2vw 2vw 2vw;
}
.content h1{
    margin:20px 0px;
    font-family: 'Rubik Iso';
}
.content section{
    margin: 10px;
}

footer{
    background-color: #333;
    color: whitesmoke;
}
footer div{
    margin:50px 3em 0em 3em;
    display: flex;
    justify-content: center;
}
footer section{
    font-size: 15px;
    margin: 50px 10vw 70px 0px;
    text-align: center;
}
footer ul{
    
    padding: 0px;
}
footer ul li{
    list-style: none;
}
footer section a{
    text-decoration: none;
    
    color: whitesmoke;
}

footer section a:hover{
    color: yellow;
}
.credit{
    border: 1px solid gray;
    margin: 10%;
    border-radius: 4px;
    padding: 3px;
    height: 300px;
    width: 250px;
}
footer img{
    float: left;
    margin: 6.5vw 6vw 0vw 3vw;
}

form{
    width: 80%;
    justify-content: center;
    text-align: center;
    border: 1px solid black;

}
#feed{
    display: flex;

}
#feed div input{
    margin: 20px;
    }
    
@media (max-width:762px){
    #ham{
        visibility:visible

    }
    .option{
        display: block;
        justify-content: center;
        width: 100%;
    }
    
    .cont{
        background-color: #333;
        position:absolute;
        gap: 10;
     
       top: 60px;
        width: 100%;
        transition: 0.3s;
        display:none;
      }
      .option ul li{
        background-color: #333;
        display: flex;
        flex-direction: column;
      }

    .menu{
        background-color: #333;
        position: relative;
        width: 100%;
        margin: 0px;

    }
    .menu div li{
  margin-left: 45%;

    }
    .cont.active{
        display: block;
      
       
      }
      .text.active{
        display: none;
      }
      .pr::after{
        content: '\02795';
        font-size: 15px;
        color: white;
        float: right;

      }
      .go:after{
        content: "\2796";
      }
      footer div{
        margin:5em 5em 0em 5em;
        padding: 3px;
        display: block;
    }
    #foot{
        clear: both;
    }
}