*{
    margin: 0px;
    padding: 0px;
}
.dark{
    background-color: #1c1b1c;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.brand{
   font-size:2.5em;
   float: left;
   
  
}
.brand img{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar{
    /*background-color: rgba(188, 149, 207, 1);
    */
    background-image: url('images/5442673.jpg');
}
#ham{
    display: inline-block;
    cursor:pointer;
  }
  .bar1,.bar2,.bar3{
    width:35px;
    height: 5px;
    background-color: white;
    margin:6px 5px;
    transition:0.4s;
  }
  .change .bar1{
    transform:translate(0px,11px) rotate(-45deg);
  }
  .change .bar2{
    opacity:0;
  }
  .change .bar3{
    transform: translate(0px,-11px) rotate(45deg);
  }
  
.option{
    display: flex;
    position: relative;
    font-family: exo;
    margin-right: 40px;
}

.option a, .option li{
    
    text-decoration: none;
    list-style: none;
    color: white;
   
}
.menu{
    position: absolute;
    margin-top: 4px;
    background-color: rgba(188, 149, 207, 1);
    width: 150px;
    font-size: large;
    border-radius: 0px 0px 4px 4px;
   display: none;
}
.menu a{
    padding: 20px;
    border-bottom: 5 solid white;
   
}
.el{
    font-size: 18px;
    margin: 10px 30px 20px 20px;
}
.nav-link li a:hover {
    display: block;
    background-color: #c6a9d4;

    
}
.menu div{
    margin-top: 24px;
}
.nav-link:hover ul ,.nav-link:active{
    display: block;

}
.menu img{
    height: 21px;
}
#ham{
    visibility: hidden;
    text-decoration: none;
    color: white;
}
footer{
    background-color: #333;
    color: whitesmoke;
}
footer div{
    margin:50px 3em 0em 3em;
    display: flex;
    justify-content: center;
}
footer section{
    font-size: 15px;
    margin: 50px 10vw 70px 0px;
}
footer ul{
    
    padding: 0px;
}
footer ul li{
    list-style: none;
}
footer section a{
    text-decoration: none;
    
    color: whitesmoke;
}
footer section a:hover{
    color: yellow;
}
.credit{
    border: 1px solid gray;
    margin: 10%;
    border-radius: 4px;
    padding: 3px;
    height: 300px;
    width: 250px;
}
footer img{
    float: left;
    margin: 75px 10px 0px 30px;
}
/*
#c1{
float: left;
}
#c2{
    float: right;
}*/
@media (max-width:762px){
    #ham{
        visibility:visible

    }
    .option{
        display: block;
        justify-content: center;
        width: 100%;
    }
    
    .cont{
        background-color: #333;
        position:absolute;
        gap: 10;
       right:-100%;
       top: 85px;
        width: 100%;
        transition: 0.3s;
      }
      .option ul li{
       
        display: flex;
        flex-direction: column;
      }
    .pr li{
        
        background-color: #333;
    }
    
    .menu{
        text-align: center;
        background-color: #333;
        justify-content: center;
        position: relative;
        width: 100%;
        margin: 0px;

    }
    .menu div{
        /*display: none;*/
        overflow: hidden;
        max-height: 10;
        transition: max-height 0.2s ease-out;
    }
    .cont.active{
        right: 0;
      }
      
      .pr::after{
        content: '\02795';
        font-size: 15px;
        color: white;
        float: right;

      }
      .go:after{
        content: "\2796";
      }
      footer div{
        margin:5em 5em 0em 5em;
        padding: 3px;
        display: block;
    }
    #foot{
        clear: both;
    }
}
