*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   

}

.dark{
    background-color: #1c1b1c;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.brand{
   font-size:2.5em;
   float: left;
   
  
}
.brand img{
margin: 0px 10px 10px 20px;}
.navbar{
    /*background-color: rgba(188, 149, 207, 1);
    */
    
    background-image: url('../images/5442673.jpg');
min-height: 100%;
}
#ham{
    display: inline-block;
    cursor:pointer;
  }
  .bar1,.bar2,.bar3{
    width:35px;
    height: 5px;
    background-color: white;
    margin:6px 5px;
    transition:0.4s;
  }
  .change .bar1{
    transform:translate(0px,11px) rotate(-45deg);
  }
  .change .bar2{
    opacity:0;
  }
  .change .bar3{
    transform: translate(0px,-11px) rotate(45deg);
  }
  
.option{
    display: flex;
    position: relative;
    font-family: exo;
    margin-right: 40px;
    font-weight: bold;
}

.option a, .option li{
    
    text-decoration: none;
    list-style: none;
    color: white;
   
}

.menu{
    position: absolute;
    margin-top: 4px;
    background-color: rgba(85, 82, 87,0.6);
    width: 150px;
    border-radius: 4px;
    display:none;
}

.menu li{
    position: relative;
    height: 28px;
}
.menu li:hover{
    border-radius: 4px;
    background-color: #7a7474;
}
.menu li a{

    margin: 8px 10px;
    padding: 20px;
}


.el{
    font-size: 18px;
    margin: 10px 30px 20px 20px;
}


.nav-link:hover ul ,.nav-link:active{
    display: block;

}
.menu img{
    height: 20px;
}

#ham{
    visibility: hidden;
    text-decoration: none;
    color: white;
}

.hero{
    background-image: url('../images/side\ view\ copta.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
   

}
.text{
    width: 50%;
    position: absolute;
    margin: 10vw 0vw 0vw 10vw;
}
.hero span{
    color: white;
    font-size: 1.8vw;
}

.hero a{
    font-size: 1.5vw;
    padding: 4px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    background-color:rgba(116, 111, 111,0.1);
    text-decoration: none;
    margin-left: 11vw;
}
.hero a:hover{
    background-color:#a75dcc;
}
.content{
    margin:4vw 2vw 2vw 2vw;
}
.content h1{
    margin:20px 0px;
    font-family: 'Rubik Iso';
}
.content section{
    margin: 10px;
}

footer{ width: 100%;
    position: relative;
    background-color: #333;
    color: rgb(197, 193, 193);
}
footer div{
    background-color: #333;
    padding:0.02vw 2vw 0.02vw 2vw;
    display: block;
    
    justify-content: center;
}
footer section{
    font-size: 14px;
    margin:4px 0px 2px 0px;
    text-align:center;
}


footer section a{
    text-decoration: none;
    color:  rgb(197, 193, 193);
    margin: 0px 10px;
}
#opt a{
    margin-right:6vw ;
}
footer section a:hover{
    color: yellow;
}
.copy{
    font-size: 12px;
}
footer hr{
    margin: 0.5rem;
}

footer img{
    float: left;
    margin: 6.5vw 6vw 0vw 3vw;
}

#creator{
    margin:10% 30% 10% 30%;
    text-align: center;
}
#about{
    margin: 30px;
    display: flex;
}
.credit{
    box-shadow:3px 3px 8px #a19a9a;
    border-radius: 4px;
    
}
.credit img{
    float: left;
    margin: 6px;
}
.credit p{
    clear: both;
    margin: 10px 10px;
}
.credit span{
    margin: 10px;
    font-size: 14px;
}
#c1{
    margin-right: 5%
}

.form{
    background-color: rgb(240, 229, 248);
    height: 100%;
    
}
form{
    width: 60%;
    height: 80%;
    text-align: left;
    border: 1px solid  rgb(255, 255, 255);;
    box-shadow: 4px 4px 6px #a19a9a;
    border-radius: 8px;
    margin: 10%;
    background-color: rgb(255, 255, 255);
    

}
#form2{
    font-size: 2vw;
    display: none;
}
.hide #form2{
    display: block;
}
.show #form1{
    display: none;
}
#form2 img{
    margin:0vw 2vw 3vw 2vw;
    
}
#form2 button{
    margin: 20px;
    border-radius: 25px;
    font-size:2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #ca9af7;
    width: 30%;
}

#feed{
    display: flex;
    flex-direction: column;
    margin: 5% 2% 18% 2%;
    width: 80%;
  
    
}
form h1{
    text-align: center;
    margin: 8%;
}


#feed label{
    margin: 4vw 2vw 0px 3vw;
    }
#feed input{
    width: 100%;
    margin: 1vw 2vw 4px 3vw;
    border: none;
    border-bottom: 1px solid #333;
    
}
#feed button{
   margin: 3vw 0vw 3vw 22vw;
    width: 30%;
    border-radius: 25px;
    font-size:2.5vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #ca9af7;
}
.imp{
    color: red;
}





@media (max-width:762px){
    *{
        box-sizing: border-box;
    }
    #ham{
        visibility:visible

    }
    .option{
        display: block;
        width: 100%;
    }
    
    .cont{
        background-color: #333;
        position:absolute;
        top: 60px;
        width: 100%;
        transition: 0.3s;
        display: none;
      
      }

    .menu{
        background-color: #333;
        position: relative;
        width: 100%;
        margin: 0px;

    }
    .menu  li a{
  margin-left: 45%;

    }
    .menu{
        display: none;
    }
    
.nav-link:hover ul ,.nav-link:active{
    display: block;

}
    .cont.active{
        display: block;
      
       
      }
      .text.active{
        display: none;
      }
      .pr::after{
        content: '\02795';
        font-size: 15px;
        color: white;
        float: right;

      }
      .go:after{
        content: "\2796";
      }
      footer div{
       margin: 0px 5px;
        padding: 3px;
        display: block;
    }
    #foot{
        clear: both;
    }
}
@media(max-width:270px){
    footer div a{
        display: block;
        margin-bottom: 10px;
    }
    footer div{
        margin: 0px 2px;
    }
}
/*
@media only screen and (max-width: 480px){
    html,body{
    width: 100%;
    height: 100%;
    margin: 0;}
}*/